# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
/.idea

# Android project
.gradle
.android
local.properties
.idea/
*.iml
caches/
native/
build/
captures/

# Generated
generated-model
generated-src
generated-objc
/common/src/commonMain/generated
